body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #7B7D7D;
}
 
.Formulario{
    position:  absolute;
    top: 50%;
    left: 28%;
    transform: translate(50%, -50%);
    width: 325px;
    height: 400px;
    background-color:aliceblue ;
    border-radius: 15px;
}

.Formulario h1{
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
}

.Formulario form {
    padding:  0 60px;
    box-sizing: border-box;
}

form .Nombredeusuario{
    position: relative;
    border-bottom: 1px solid #8a8686;
    margin: 5px 0;
}
.Nombredeusuario input{
    width: 100px;
    height: 20px;
    font-size: 10px;
    border: none;

    outline: none;
}

.Nombredeusuario label{
    position: absolute;
    top: 50%;
    left: 30px;
    color: #adadad;
    transform: translateY(-50%);
    background: none;
    pointer-events: none;
}

.recordar :hover{
    text-decoration: underline;
}

.boton{
    text-align: center;
    width: 100%;
    height: 40px;
    border: 3px solid; 
    background: #7B7D7D;
   font-size: 20px;
    
}

.Iconos {
    position: relative;
    padding: 4px;
    width: 40px;
    height: 40px;
}

.Iconoslabel {
    width: 25px;
    height: 25px;
}

.W{
    width: 80px;
    height: 80px;
}
